# Build Artifacts
dispatcher
ingester
processor
reporter
*.o

# Logs and Output
logs/*.log
output/*
!output/.gitkeep

# IPC Resources
/tmp/pulse_pipeline_fifo
.pid
*.pid

# Data files
data/*.csv
!data/sample.csv

# Documentation
DECLARATION.txt
report/*.pdf
report/*.png
!report/.gitkeep

# IDE and OS
.vs/
.vscode/
.DS_Store
*.swp
